.deleteButton {

    margin-top: auto;
    margin: 10px;
}

 .custom-grid{
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
  color: #9EFFA9;
}

.custom-grid th {
    background-color: #36485E;
    font-weight: bold;
    border: 1px solid #29252C;
    padding: 10px;
    text-align: center;
}

.custom-grid td{
    border: 1px solid #36485E;
    padding: 10px;
    vertical-align: middle;
}

.custom-grid tr:nth-child(even) {
    background-color: #36485E;
}

.custom-grid tr:hover {
    background-color:  #333146;
}

.custom-grid .MuiDataGrid-cell .icon-button1 {
    color: #9EFFA9;
}

/* .custom-grid .MuiDataGrid-cell {
    background-color: #9EFFA9 ;
} */

.custom-grid .MuiDataGrid-row:nth-of-type(even) {
    background-color: #36485E !important; /* Dark grey for even rows */

}

  .custom-grid .MuiDataGrid-row:nth-of-type(odd) {
    background-color: black !important; /* Dark grey for even rows */
  }

  .MuiDataGrid-columnHeader {
    background-color: #36485E !important;  /* Background color */
    color: #9EFFA9;  /* Text color */
  }

  .custom-grid .MuiDataGrid-row{
    color: #9EFFA9;
  }

  .custom-grid .MuiDataGrid-row .icon-button1 {
    color: #9EFFA9;
  }

  .custom-grid .MuiDataGrid-checkboxInput {
    color: #9EFFA9 !important; /* Change the color of the checkbox */
  }
  .custom-grid .Mui-checked {
    color: #9EFFA9 !important; /* Change color when checked */
  }
  .custom-grid{
    background-color: black;
  }
