
.navBar-container{
    position: fixed;
    z-index: 1001;
    top: 0px;
    left:0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    max-width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color:#36485E;
    /* padding: 20px 40px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navBar-btn-container {
display: flex;
gap: 20px;
}

.navBar-container .navBar-btn {
    background-color: #131b24;
    color: #9EFFA9;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.navBar-btn:hover {
 transform: scale(1.05); 
}
