/* .gantt-chart-container {
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background-color: white;
  border: 1px solid #ddd;
  border: 1px solid red;
} */

/* .gantt-chart {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* Custom styles for Gantt chart bars based on cert_id */
.cert_1 {
  fill: #4caf50; /* Green for cert_id 1 */
}

.cert_2 {
  fill: #2196f3; /* Blue for cert_id 2 */
}

.cert_3 {
  fill: #ff9800; /* Orange for cert_id 3 */
}